name: CD / tf / prd

# 手動起動のみ
# tf apply(prd)

on:
  workflow_dispatch:

jobs:

  tf-apply-prd:
    name: tf apply / prd
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    defaults:
      run:
        working-directory: infra
    steps:
      - uses: actions/checkout@v4
      - uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.WIF_PROVIDER }}
          service_account: ${{ secrets.TERRAFORM_SA_EMAIL }}
          token_format: "access_token"
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.9"
          terraform_wrapper: false
      - name: Terraform Init (prd)
        run: |
          terraform init \
            -backend-config="bucket=${{ secrets.TFSTATE_BUCKET_PRD }}" \
            -reconfigure \
            -input=false
      - name: Terraform Apply (prd)
        run: |
          terraform apply \
            -var-file=config.tfvars \
            -var="env=prd" \
            -auto-approve \
            -input=false
